{
  "openapi": "3.0.0",
  "x-mcp": { "enabled": true },
  "info": {
    "title": "CI Public API",
    "version": "1.0.0",
    "description": "# Introduction\nWelcome to the Content Ignite API. A central place for all Content Ignite functionality. \n\nThis API enforces a separation between function and form, meaning anything you can do in our platforms can be replicated in your own bespoke solution.\n\n# Authentication\nAuthentication is handled via JWTs. You can retrieve your unique JSON Web Token from the settings page in the platform, which needs to be passed in with every request.\nTo do this, simple include it in an Authorization header with the \"Bearer\" key word.\n\nPlease contact support for help getting started.\n\n# Error Codes\nThis is a fully RESTful API, so prepare for a number of different HTTP status codes.\n\nThere is also a standard \"success\" field returned for each request. This boolean value can provide a first check against a response.\n\n# Rate limit\nWe reserve the right to block requests if we deem a client to be abusing the API."
  },
  "servers": [
    {
      "url": "https://api.tagdeliver.com"
    }
  ],
  "paths": {
    "/v1/report": {
      "get": {
        "x-mint": { "mcp": { "enabled": true } },
        "summary": "/report",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "500": {
            "description": "report"
          },
          "default": {
            "description": "report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "created_on": {
                            "type": "string",
                            "format": "style"
                          },
                          "created_by": {
                            "type": "integer"
                          },
                          "created_by_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Fetch a list of user generated reports"
      },
      "post": {
        "summary": "/report",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "500": {
            "description": "report/:id"
          },
          "default": {
            "description": "report/:id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "integer"
                        },
                        "organisation_id": {
                          "type": "integer"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "date_range": {
                          "type": "string"
                        },
                        "custom_date": {
                          "nullable": true
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "account_name": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "config_id": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "creative_size": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "oid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "partner": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "platform": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "uid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "unit": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "created_on": {
                          "type": "string",
                          "format": "style"
                        },
                        "table_state": {
                          "nullable": true
                        },
                        "temporary": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new report\n\n## Data\n\n| **Field Name** | **Field Type** | **Description** |\n| --- | --- | --- |\n| `title` (optional if `temporary` equals `true`) | `string` | Report title. Used when saving a report for reuse. Max character length 50. |\n| `temporary` | `boolean` | If true, the report will not show up in the list of reports in the UI. |\n| `date_range` | `ENUM('custom','yesterday','seven_days','thirty_days','three_months','six_months','last_week','last_month','last_quarter','last_year','week_to_date','month_to_date','quarter_to_date','year_to_date','month_on_month','quarter_on_quarter')` | Pick a dynamic or fixed date range. If `custom` then`custom_date` is also required. |\n| `fields` | `Array` of `ENUM('account_name','account_owner','ad_impressions','ad_requests','field','ad_responses','field','ad_unit_loads','field','campaign_advertiser','campaign','channel','clicks','config_id','config_name','cost','field','creative_size','ctr','field','date','device','ecpm','field','environment','fill','field','geo','gross_revenue','imp_fill','field','line_item','month','net_revenue','organisation','partner','platform','publisher','q1_impressions','q1_percent','field','q2_impressions','q2_percent','field','q3_impressions','q3_percent','field','q4_impressions','q4_percent','field','region','revenue_source','rpm','field','uid','unit_fill','field','unit','viewability','field','viewable_impressions')` | Pick two or more fields to build the report, note that some fields are incompatible with others. |\n| `filters` | Object with the following optional properties: `account_name`,`account_owner`,`config_id`,`creative_size`,`campaign`,`campaign_advertiser`,`line_item`,`device`,`environment`,`geo`,`region`,`revenue_source`,`oid`,`partner`,`channel`,`platform`,`uid`,`unit`  <br>  <br>in the format `{type: ENUM('include', 'exclude'), matches: Array}` | Filter data on various fields. |\n| `custom_date` (required if `date_range` is set to `custom`) | `{start: Datetime, end: Datetime}` | Used when `date_range` is set to `custom` to provide the start and end date |\n\n## Fields\n\n| **Field Name** | **Field Description** |\n| --- | --- |\n| account_name | Account name of the primary platform e.g. your ad server |\n| ad_impressions | Total impressions served by the ad server |\n| ad_requests | Total number of requests sent to the ad server |\n| ad_responses | Total number of ad requests that successfully returned an ad |\n| ad_unit_loads | Number of times a target match was found on page (not necessarily number of ads requested) |\n| ag_video_clicks | Number of recirculation click on an auto-generated video |\n| ag_video_ctr | Percentage of auto-generated video views that clicked through to the article |\n| ag_video_impressions | Number of impressions on an auto-generated video |\n| config_id | The ID of the config that matched and served the ad request |\n| config_name | The name assigned to the config (if available) |\n| creative_size | The creative size served |\n| date | Date revenue is attributed to |\n| device | Device category (desktop,mobile or tablet) |\n| ecpm | Average cost per 1,000 impressions |\n| fill | The percentage of ad requests that returned an ad |\n| geo | Country iso-code |\n| gross_revenue | Total revenue |\n| net_revenue | Estimated publishers share of revenue |\n| oid | Organisation ID |\n| organisation | Organisation name |\n| partner | Name of the ad network that sent the winning bid |\n| platform | Name of the primary platform e.g. your ad server or demand partner connection |\n| publisher | Publishers domain plus optional label |\n| q1_impressions | Number of times that a video plays to 25% of its length |\n| q1_percent | Percentage of views that played to 25% of videos length |\n| q2_impressions | Number of times that a video plays to 50% of its length |\n| q2_percent | Percentage of views that played to 50% of videos length |\n| q3_impressions | Number of times that a video plays to 75% of its length |\n| q3_percent | Percentage of views that played to 75% of videos length |\n| q4_impressions | Number of times that a video plays to completion |\n| q4_percent | Percentage of views that played to video end |\n| rpm | Estimated publisher revenue per 1,000 ad requests |\n| uid | The internal unique ID for the publisher |\n| unit | Unit type e.g. In-image |\n| unit_fill | The percentage of ad unit loads that returned an ad (can be over 100% if refresh is enabled) |\n| viewability | Ad impressions that were deemed \"viewable\" |"
      }
    },
    "/v1/report/{id}": {
      "get": {
        "summary": "/report/:id",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "500": {
            "description": "report/:id"
          },
          "default": {
            "description": "report/:id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "integer"
                        },
                        "organisation_id": {
                          "type": "integer"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "date_range": {
                          "type": "string"
                        },
                        "custom_date": {
                          "nullable": true
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "account_name": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "config_id": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "creative_size": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "oid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "partner": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "platform": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "uid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "unit": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "created_on": {
                          "type": "string",
                          "format": "style"
                        },
                        "table_state": {
                          "type": "object",
                          "properties": {
                            "aggregation": {
                              "type": "object",
                              "properties": {
                                "model": {
                                  "type": "object",
                                  "properties": {
                                    "ad_impressions": {
                                      "type": "string"
                                    },
                                    "ad_requests": {
                                      "type": "string"
                                    },
                                    "ad_responses": {
                                      "type": "string"
                                    },
                                    "ad_unit_loads": {
                                      "type": "string"
                                    },
                                    "ag_video_clicks": {
                                      "type": "string"
                                    },
                                    "ag_video_impressions": {
                                      "type": "string"
                                    },
                                    "gross_revenue": {
                                      "type": "string"
                                    },
                                    "net_revenue": {
                                      "type": "string"
                                    },
                                    "q1_impressions": {
                                      "type": "string"
                                    },
                                    "q2_impressions": {
                                      "type": "string"
                                    },
                                    "q3_impressions": {
                                      "type": "string"
                                    },
                                    "q4_impressions": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "rowGrouping": {
                              "type": "object",
                              "properties": {
                                "model": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            },
                            "pinnedColumns": {
                              "type": "array",
                              "items": {}
                            },
                            "columns": {
                              "type": "object",
                              "properties": {
                                "orderedFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "dimensions": {
                                  "type": "object",
                                  "properties": {
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "viewability": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_unit_loads": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_requests": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_responses": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_impressions": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "fill": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ecpm": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "gross_revenue": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "rpm": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "net_revenue": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "preferencePanel": {
                              "type": "object",
                              "properties": {
                                "open": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "filter": {
                              "type": "object",
                              "properties": {
                                "filterModel": {
                                  "type": "object",
                                  "properties": {
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "linkOperator": {
                                      "type": "string"
                                    },
                                    "quickFilterValues": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "quickFilterLogicOperator": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "sorting": {
                              "type": "object",
                              "properties": {
                                "sortModel": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "field": {
                                        "type": "string"
                                      },
                                      "sort": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "pageSize": {
                                  "type": "integer"
                                },
                                "page": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "temporary": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Fetch a reports configuration details"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Report ID",
          "schema": {
            "type": "integer",
            "default": "<integer>"
          }
        }
      ],
      "put": {
        "summary": "/report/:id",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "500": {
            "description": "report/:id"
          },
          "default": {
            "description": "report/:id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "integer"
                        },
                        "organisation_id": {
                          "type": "integer"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "date_range": {
                          "type": "string"
                        },
                        "custom_date": {
                          "nullable": true
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "account_name": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "config_id": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "creative_size": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "geo": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "oid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "partner": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "platform": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "uid": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "unit": {
                              "type": "object",
                              "properties": {
                                "matches": {
                                  "type": "array",
                                  "items": {}
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "created_on": {
                          "type": "string",
                          "format": "style"
                        },
                        "table_state": {
                          "type": "object",
                          "properties": {
                            "aggregation": {
                              "type": "object",
                              "properties": {
                                "model": {
                                  "type": "object",
                                  "properties": {
                                    "ad_impressions": {
                                      "type": "string"
                                    },
                                    "ad_requests": {
                                      "type": "string"
                                    },
                                    "ad_responses": {
                                      "type": "string"
                                    },
                                    "ad_unit_loads": {
                                      "type": "string"
                                    },
                                    "ag_video_clicks": {
                                      "type": "string"
                                    },
                                    "ag_video_impressions": {
                                      "type": "string"
                                    },
                                    "gross_revenue": {
                                      "type": "string"
                                    },
                                    "net_revenue": {
                                      "type": "string"
                                    },
                                    "q1_impressions": {
                                      "type": "string"
                                    },
                                    "q2_impressions": {
                                      "type": "string"
                                    },
                                    "q3_impressions": {
                                      "type": "string"
                                    },
                                    "q4_impressions": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "rowGrouping": {
                              "type": "object",
                              "properties": {
                                "model": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            },
                            "pinnedColumns": {
                              "type": "array",
                              "items": {}
                            },
                            "columns": {
                              "type": "object",
                              "properties": {
                                "orderedFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "dimensions": {
                                  "type": "object",
                                  "properties": {
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "viewability": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_unit_loads": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_requests": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_responses": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ad_impressions": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "fill": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "ecpm": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "gross_revenue": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "rpm": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "net_revenue": {
                                      "type": "object",
                                      "properties": {
                                        "maxWidth": {
                                          "type": "integer"
                                        },
                                        "minWidth": {
                                          "type": "integer"
                                        },
                                        "width": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "preferencePanel": {
                              "type": "object",
                              "properties": {
                                "open": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "filter": {
                              "type": "object",
                              "properties": {
                                "filterModel": {
                                  "type": "object",
                                  "properties": {
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "linkOperator": {
                                      "type": "string"
                                    },
                                    "quickFilterValues": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "quickFilterLogicOperator": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "sorting": {
                              "type": "object",
                              "properties": {
                                "sortModel": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "field": {
                                        "type": "string"
                                      },
                                      "sort": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "pageSize": {
                                  "type": "integer"
                                },
                                "page": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "temporary": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a reports config",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "date_range": {
                    "type": "string"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "account_name": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "config_id": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "creative_size": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "device": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "geo": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "oid": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "partner": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "platform": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "uid": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "unit": {
                        "type": "object",
                        "properties": {
                          "matches": {
                            "type": "array",
                            "items": {}
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "table_state": {
                    "type": "object",
                    "properties": {
                      "aggregation": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "object",
                            "properties": {
                              "ad_impressions": {
                                "type": "string"
                              },
                              "ad_requests": {
                                "type": "string"
                              },
                              "ad_responses": {
                                "type": "string"
                              },
                              "ad_unit_loads": {
                                "type": "string"
                              },
                              "ag_video_clicks": {
                                "type": "string"
                              },
                              "ag_video_impressions": {
                                "type": "string"
                              },
                              "gross_revenue": {
                                "type": "string"
                              },
                              "net_revenue": {
                                "type": "string"
                              },
                              "q1_impressions": {
                                "type": "string"
                              },
                              "q2_impressions": {
                                "type": "string"
                              },
                              "q3_impressions": {
                                "type": "string"
                              },
                              "q4_impressions": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "rowGrouping": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "array",
                            "items": {}
                          }
                        }
                      },
                      "pinnedColumns": {
                        "type": "array",
                        "items": {}
                      },
                      "columns": {
                        "type": "object",
                        "properties": {
                          "orderedFields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "dimensions": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "viewability": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "ad_unit_loads": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "ad_requests": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "ad_responses": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "ad_impressions": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "fill": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "ecpm": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "gross_revenue": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "rpm": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "net_revenue": {
                                "type": "object",
                                "properties": {
                                  "maxWidth": {
                                    "type": "integer"
                                  },
                                  "minWidth": {
                                    "type": "integer"
                                  },
                                  "width": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "preferencePanel": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "boolean"
                          }
                        }
                      },
                      "filter": {
                        "type": "object",
                        "properties": {
                          "filterModel": {
                            "type": "object",
                            "properties": {
                              "items": {
                                "type": "array",
                                "items": {}
                              },
                              "linkOperator": {
                                "type": "string"
                              },
                              "quickFilterValues": {
                                "type": "array",
                                "items": {}
                              },
                              "quickFilterLogicOperator": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "sorting": {
                        "type": "object",
                        "properties": {
                          "sortModel": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field": {
                                  "type": "string"
                                },
                                "sort": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "pageSize": {
                            "type": "integer"
                          },
                          "page": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "temporary": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "/report/:id",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "204": {
            "description": "report/:id"
          }
        },
        "description": "Delete a report"
      }
    },
    "/v1/report/filters": {
      "get": {
        "summary": "/report/filters",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "200": {
            "description": "/report/filters",
            "headers": {
              "vary": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-permissions": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-token": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-cloud-trace-context": {
                "schema": {
                  "type": "integer",
                  "default": "<integer>"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              }
            }
          }
        },
        "description": "Fetch options available for report filtering"
      }
    },
    "/v1/report/{id}/data": {
      "get": {
        "summary": "/report/:id/data",
        "tags": ["Reporting", "Revenue Reports"],
        "responses": {
          "500": {
            "description": "report/:id/data"
          },
          "default": {
            "description": "report/:id/data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "format": "date"
                    },
                    "end": {
                      "type": "string",
                      "format": "date"
                    },
                    "title": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "table_state": {
                      "type": "object",
                      "properties": {
                        "aggregation": {
                          "type": "object",
                          "properties": {
                            "model": {
                              "type": "object",
                              "properties": {
                                "ad_impressions": {
                                  "type": "string"
                                },
                                "ad_requests": {
                                  "type": "string"
                                },
                                "ad_responses": {
                                  "type": "string"
                                },
                                "ad_unit_loads": {
                                  "type": "string"
                                },
                                "ag_video_clicks": {
                                  "type": "string"
                                },
                                "ag_video_impressions": {
                                  "type": "string"
                                },
                                "gross_revenue": {
                                  "type": "string"
                                },
                                "net_revenue": {
                                  "type": "string"
                                },
                                "q1_impressions": {
                                  "type": "string"
                                },
                                "q2_impressions": {
                                  "type": "string"
                                },
                                "q3_impressions": {
                                  "type": "string"
                                },
                                "q4_impressions": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "rowGrouping": {
                          "type": "object",
                          "properties": {
                            "model": {
                              "type": "array",
                              "items": {}
                            }
                          }
                        },
                        "pinnedColumns": {
                          "type": "array",
                          "items": {}
                        },
                        "columns": {
                          "type": "object",
                          "properties": {
                            "orderedFields": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "dimensions": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "viewability": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ad_unit_loads": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ad_requests": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ad_responses": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ad_impressions": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "fill": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ecpm": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "gross_revenue": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "rpm": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "net_revenue": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "integer"
                                    },
                                    "minWidth": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "preferencePanel": {
                          "type": "object",
                          "properties": {
                            "open": {
                              "type": "boolean"
                            }
                          }
                        },
                        "filter": {
                          "type": "object",
                          "properties": {
                            "filterModel": {
                              "type": "object",
                              "properties": {
                                "items": {
                                  "type": "array",
                                  "items": {}
                                },
                                "linkOperator": {
                                  "type": "string"
                                },
                                "quickFilterValues": {
                                  "type": "array",
                                  "items": {}
                                },
                                "quickFilterLogicOperator": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "sorting": {
                          "type": "object",
                          "properties": {
                            "sortModel": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "string"
                                  },
                                  "sort": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "pageSize": {
                              "type": "integer"
                            },
                            "page": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "ad_requests": {
                            "type": "integer"
                          },
                          "ad_unit_loads": {
                            "type": "integer"
                          },
                          "ad_impressions": {
                            "type": "integer"
                          },
                          "ad_responses": {
                            "type": "integer"
                          },
                          "viewability": {
                            "type": "number"
                          },
                          "ecpm": {
                            "type": "number"
                          },
                          "gross_revenue": {
                            "type": "number"
                          },
                          "fill": {
                            "type": "number"
                          },
                          "net_revenue": {
                            "type": "number"
                          },
                          "rpm": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    },
                    "timeMs": {
                      "type": "integer"
                    },
                    "duration": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Fetch the data for a given report ID"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Report ID",
          "schema": {
            "type": "integer",
            "default": "<integer>"
          }
        }
      ]
    },
    "/v1/report/experiment": {
      "get": {
        "summary": "/report/experiment",
        "tags": ["Reporting", "Experiment Reporting"],
        "responses": {
          "200": {
            "description": "/report/experiment",
            "headers": {
              "vary": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-permissions": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-token": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-cloud-trace-context": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              }
            }
          }
        },
        "description": "Fetch a list of experiments with their status and top line configuration"
      }
    },
    "/v1/report/experiment/{id}": {
      "get": {
        "summary": "/report/experiment/:id",
        "tags": ["Reporting", "Experiment Reporting"],
        "responses": {
          "200": {
            "description": "/report/experiment/:id",
            "headers": {
              "vary": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-expose-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-permissions": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-ci-token": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "x-cloud-trace-context": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              }
            }
          }
        },
        "description": "Fetches a full report for the given experiment"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The experiment ID",
          "schema": {
            "type": "integer",
            "default": "<integer>"
          }
        }
      ],
      "put": {
        "summary": "/report/experiment/:id",
        "tags": ["Reporting", "Experiment Reporting"],
        "responses": {
          "200": {
            "description": "/report/experiment/:id",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string",
                  "default": "<string>"
                }
              },
[...]
